.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 5.5rem;

  font-weight: 500;
  font-size: 14.4608px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}